{{!-- ! ########################################################################################## MAIN --}}
<main class="p-5">
	<div class="card p-5 mb-2 cssfonts">
		<div class="card p-5 mb-2">
			<p class="one">
				hello world!<br> 
				<br> color: #0482f9
			</p>
		</div>

		<div class="card p-5 mb-2">
			<p class="two">
				hello world!<br> 
				<br> color: red
			</p>
		</div>

		<div class="card p-5 mb-2">
			<p class="three">
				hello world!<br> 
				<br> color: rgb(156, 245, 54)
				<br> background : rgba(254, 254, 0, 0.088)
			</p>
		</div>

		<div class="card p-5 mb-2">
			<p class="four">
				hello world!<br> 
				<br> color: hsl(29, 100%, 50%)
				<br>  background : hsla(29, 93%, 52%, 0.095)
			</p>
		</div>

		<div class="card p-5 mb-2">
			<p class="five">
				hello world!<br> 
				<br>color: green
				<br>-webkit-text-fill-color: red
				<br> -webkit-text-stroke: 1px blue
				<br><br>:hover
				<br>color: green
				<br> -webkit-text-fill-color:rgb(183, 0, 255)
				<br> -webkit-text-stroke: 1px rgb(255, 0, 85)
				<br><br>:active
				<br>color: green
				<br> -webkit-text-fill-color:rgb(4, 255, 0)
				<br> -webkit-text-stroke: 1px rgb(204, 255, 0)
			</p>
		</div>

		<div class="card p-5 mb-2">
			<p class="six">
				hello world!<br> 
				<br> .card {
				<br> color: red
				<br> font-size: 10px
				<br>}
				<br><br>
				<br> :hover
				<br> color: green
				<br> -webkit-text-fill-color: rgb(4, 255, 0)
				<br> -webkit-text-stroke: 1px rgb(204, 255, 0)
				<br> direction: rtl
			</p>
		</div>

		<div class="card p-5 mb-2">
		<div class="card p-1 mb-2">
			<div class="card p-5 mb-2">
				<p class="seven">
					hello world!<br> 
					<br> color: initial
					<br> -webkit-text-fill-color: initial
					<br> -webkit-text-stroke: initial
					<br> <br> 
					<br> hover
					<br> color: inherit
					<br> -webkit-text-fill-color: inherit
					<br> -webkit-text-stroke: inherit
				</p><br> <br> 
			</div>
			<div class="card p-5 mb-2">
				<p class="seven-1">
					hello world!<br> 
					<br> color:  inherit
					<br> -webkit-text-fill-color: inherit
					<br> -webkit-text-stroke: inherit
				</p>
			</div>
		</div>

		<div class="card p-5 mb-2">
			<p class="eight">
				hello world!<br> 
				<br> color: unset
				<br> -webkit-text-fill-color: unset
				<br> -webkit-text-stroke: unset
			</p>
		</div>

		<div class="card p-5 mb-1">
			<p class="nine">
				hello world!<br> 
				<br> color: none
				<br> -webkit-text-fill-color: none
				<br> -webkit-text-stroke: none
			</p>
		</div>
		</div>

		<div class="card p-5 row">
			<div class="card col-4">
				<p class="ten">
					hello world!<br> 
					<br> writing-mode: horizontal-tb
				</p>
			</div>

			<div class="card col-4">
				<p class="eleven">
					hello world!<br> 
					<br> writing-mode: vertical-rl
				</p>
			</div>

			<div class="card col-4">
				<p class="twelve">
					hello world!<br> 
					<br> writing-mode: vertical-lr
				</p>
			</div>
		</div>

		<div class="card p-5 mb-2">
			<div class="card p-5 mb-2">
				<p class="thirteen">
					hello world!<br> 
					<br> text-align: right
				</p>
			</div>

			<div class="card p-5 mb-2">
				<p class="fourteen">
					hello world!<br> 
					<br> text-align: center
				</p>
			</div>

			<div class="card p-5 mb-2">
				<p class="fiveteen">
					hello world!<br> 
					<br> text-align: left
				</p>
			</div>
		</div>
		<div class="card p-5 mb-2">
			<div class="card p-5 mb-2">
				<p class="sixteen">
					hello world!<br> 
					<br> text-transform: uppercase
				</p>
			</div>
			
			<div class="card p-5 mb-2">
				<p class="seventeen">
					hello world!<br> 
					<br> text-transform: lowercase
				</p>
			</div>

			<div class="card p-5 mb-2">
				<p class="eightteen">
					hello world!<br> 
					<br> text-transform: capitalize
				</p>
			</div>
		</div>

		<div class="card p-5 mb-2">
			<div class="card p-5 mb-2">
				<p class="nineteen">
					hello world!<br> 
					<br> letter-spacing: 15px
				</p>
			</div>

			<div class="card p-5 mb-2">
				<p class="twenty">
					hello world!<br> 
					<br> letter-spacing: 0.09em
				</p>
			</div>
		</div>

		<div class="card p-5 mb-2">
			<div class="card p-5 mb-2">
				<h3 class="twentyone">
					hello world!<br> 
					<br> text-decoration: underline dotted yellow
				</h3>
			</div>
			<div class="card p-5 mb-2">
				<p class="twentytwo">
					<br> text-decoration-line: overline
				</p>
				<p class="twentythree">
					<br> text-decoration-line: line-through
				</p>
				<p class="twentyfour">
					<br> text-decoration-line: underline
				</p>
			</div>

			<div class="card p-5 mb-2">
				<p class="twentyfive">
					<br> text-decoration-style: solid
					<br> text-decoration-line: underline
				</p>
				<p class="twentysix">
					<br> text-decoration-style: double
					<br> text-decoration-line: underline
				</p>
				<p class="twentyseven">
					<br> text-decoration-style: dotted
					<br> text-decoration-line: underline
				</p>
				<p class="twentyeight">
					<br> text-decoration-style: dashed
					<br> text-decoration-line: underline
				</p>
				<p class="twentynine">
					<br> text-decoration-style: wavy
					<br> text-decoration-line: underline
				</p>
			</div>

		</div>
	</div>

	<div class="card p-5 mb-2 cssblocks">
		{{!-- =========================================================== display --}}
		<div class="card p-5 mb-1 cssdisplay">
			<div class="card-header mb-1 cssdisplay">
				<h2> display </h2> 
			</div>
			<div class="card p-5 mb-1">
				<div class="card-header mb-1 cssdisplay">
					<h3> none </h3> 
				</div>
				{{!-- =================== --}}
				<div class="card p-5 mt-3 cssdisplaynone">
					display: none;
				</div>
				
				<div class="card p-5 mb-1 cssdisplayinline">
					вище був блок якому надали <br> css /* display: none; */ і він зник
				</div>
				{{!-- =================== --}}
				<div class="card-header mt-3 cssdisplay">
					<h3> hidden </h3> 
				</div>
				<div hidden class="card p-5 mb-1 cssdisplayhidden">
					hidden
				</div>
				
				<div class="card p-5 mb-1 cssdisplayinline">
					вище був блок якому надали <br> атрибут /* hidden */ і він зник
				</div>
			</div>
			{{!-- ===================================== --}}
			<div class="card p-5 mb-1 ">
				<div class="card-header mt-3 cssdisplay">
					<h3> block </h3> 
				</div>
				<div class="card p-5 mb-1 ">
					<div> div block div </div>
					<a class="cssdisplayblock"> a inline a  css display: block;</a> <a class="cssdisplayblock"> a inline a  css display: block;</a>
					<em class="cssdisplayblock"> em inline em  css display: block;</em>
					<b class="cssdisplayblock"> b inline b  css display: block;</b>
					<p> p block p </p>
				</div>
				<div class="card-header mt-3 cssdisplay">
					<h3> inline </h3> 
				</div>
				<div class="card p-5 mb-1">
					<div class="">
						<div class="cssdisplayinline"> div block div </div>
						<a> a inline a </a> <a> a inline a </a>
						<em> em inline em </em>
						<b> b inline b </b>
						<p class="cssdisplayinline"> p block p </p>
					</div>
				</div>
				<div class="card p-5 mb-1">
					<div class="">
						<h3> h3 block h3 </h3>
						<div class="cssdisplayinlineblock"> div block div </div>
						<a class="cssdisplayinlineblock"> a inline a css display: inline-block; border: 1px dashed blue;</a> <a class="cssdisplayinlineblock"> a inline a css display: inline-block; border: 1px dashed blue;</a>
	
						<em class="cssdisplayinlineblock"> em inline em css display: inline-block; border: 1px dashed blue;</em>
	
						<b class="cssdisplayinlineblock"> b inline b css display: inline-block; border: 1px dashed blue;</b>
						<p class="cssdisplayinlineblock"> p block p css display: inline-block; border: 1px dashed blue;</p>
					</div>
				</div>
			</div>
		</div>

		{{!-- =========================================================== margin --}}
		<div class="card p-5 mb-2 margin">
			{{!-- ------------------------------------------- --}}
			<div class="card m-1">
				<div class="card-body">
					<div class="margin10">
						margin: 10px;
					</div>
				</div>
			</div>
			{{!-- ------------------------------------------- --}}
			<div class="card m-1">
				<div class="card-body">
					<div class="margint">
						margin-top: 30px;
					</div>
				</div>
			</div>
			{{!-- ------------------------------------------- --}}
			<div class="card m-1">
				<div class="card-body">
					<div class="marginl">
						margin-left: 50px;
					</div>
				</div>
			</div>
			{{!-- ------------------------------------------- --}}
			<div class="card m-1">
				<div class="card-body">
					<div class="marginr10">
						margin-right: 150px; <br>
						<sub>пайпасеспаегнцпа ygqoyguyqgr ryfo8rtayugqr  gtfo goqr 8q8prfq8pqt qerg wfgr  пло ш ц4шгрпшгпушкшгцп  х4 [i9uuhw[i9u   iuhwbouvjakwvqu q3qr3f vf3yv]]
						usyfg vougfvowyugepgw gyr 8yw perg p riup шурцшк рк шршгккр iwhh urh wiu hh h iwh; piuhrhr er</sub>
					</div>
				</div>
			</div>
			{{!-- ------------------------------------------- --}}
			<div class="card m-1">
				<div class="card-body">
					<div class="marginb10">
						margin-bottom: 50px;
					</div>
				</div>
			</div>
			{{!-- ------------------------------------------- --}}
			<div class="card m-1">
				<div class="card-body">
					<div class="marginvh10">
						margin: 15px 150px;
					</div>
				</div>
			</div>
			{{!-- ------------------------------------------- --}}
			<div class="card m-1">
				<div class="card-body">
					<div class="marginthb10">
						margin: 15px 150px 20px;
					</div>
				</div>
			</div>
			{{!-- ------------------------------------------- --}}
			<div class="card m-1">
				<div class="card-body">
					<div class="margintlbr10">
						margin: 50px 400px 20px 100px;
					</div>
				</div>
			</div>
			{{!-- ------------------------------------------- --}}
			<div class="card m-1">
				<div class="card-body">
					<div class="marginha10">
						width: 350px; <br>
						margin: 50px 400px 20px 100px;
					</div>
				</div>
			</div>
			{{!-- ------------------------------------------- --}}
			<div class="card m-1">
				<div class="card-body">
					<div class="margin2p">
						margin: 2%;
					</div>
				</div>
			</div>
			{{!-- ------------------------------------------- --}}
			<div class="card m-1">
				<div class="card-body">
					<div class="margina">
						margin: auto;
					</div>
				</div>
			</div>
			{{!-- ------------------------------------------- --}}
		</div>
		
		{{!-- =========================================================== width --}}
		<div class="card m-1">
			{{!-- ------------------------------------------- --}}
			<div class="card m-1">
				<div class="card-body">
					<div class="width10p mb-1">
						width: 10%;
					</div>
					<div class="width150p mb-1">
						width: 150%;
					</div>
				</div>
			</div>
			{{!-- ------------------------------------------- --}}
			<div class="card m-1">
				<div class="card-body">
					<div class="width150px mb-1">
						width: 150px;
					</div>
					<div class="width550px mb-1">
						width: 550px;
					</div>
				</div>
			</div>
			{{!-- ------------------------------------------- --}}
			<div class="card m-1">
				<div class="card-body">
					<div class="widthfc1 mb-1">
						width: fit-content;
					</div>
					<div class="widthfc2 mb-1">
						width: fit-content; <br>
						шам si eiv и мц мш ж iuh hw гэшжмит жшргм whu <br>
						le шкотм рмзшцгр л ришж  vivv; шугреуэот  botuho o jo oe  euh[u]
					</div>
				</div>
			</div>
			{{!-- ------------------------------------------- --}}
			<div class="card m-1">
				<div class="card-body">
					<div class="widthmc1 mb-1">
						1width: 2min-3content;
					</div>
					<div class="widthmc2 mb-1">
						1width: 2min-3content; <br>
						4whu <br>
						5le 6шкотм 7рмзшцгр 8л
					</div>
				</div>
			</div>
			{{!-- ------------------------------------------- --}}
			<div class="card m-1">
				<div class="card-body">
					<div class="widthmxc1 mb-1">
						width: max-content;
					</div>
					<div class="widthmxc1 mb-1">
						1width: 2max-3content;
					</div>
					<div class="widthmxc2 mb-1">
						width: max-content; <br>
						шам si eiv и мц мш ж iuh hw гэшжмит жшргм whu <br>
						le шкотм рмзшцгр л ришж  vivv; шугреуэот  botuho o jo oe  euh[u]
					</div>
					<div class="widthmxc2 mb-1">
						1width: 2max-3content; <br>
						4whu <br>
						5le 6шкотм 7рмзшцгр 8л
					</div>
				</div>
			</div>
			{{!-- ------------------------------------------- --}}
		</div>
		
		{{!-- =========================================================== padding --}}
		<div class="card p-5 mb-2 padding">
			{{!-- ------------------------------------------- --}}
			<div class="card m-1">
				<div class="card-body">
					<div class="padding20">
						padding: 20px;
					</div>
				</div>
			</div>
			{{!-- ------------------------------------------- --}}
			<div class="card m-1">
				<div class="card-body">
					<div class="paddingt">
						padding-top: 30px;
					</div>
				</div>
			</div>
			{{!-- ------------------------------------------- --}}
			<div class="card m-1">
				<div class="card-body">
					<div class="paddingl">
						padding-left: 50px;
					</div>
				</div>
			</div>
			{{!-- ------------------------------------------- --}}
			<div class="card m-1">
				<div class="card-body">
					<div class="paddingr10">
						padding-right: 150px; <br>
						<sub>пайпасеспаегнцпа ygqoyguyqgr ryfo8rtayugqr  gtfo goqr 8q8prfq8pqt qerg wfgr  пло ш ц4шгрпшгпушкшгцп  х4 [i9uuhw[i9u   iuhwbouvjakwvqu q3qr3f vf3yv]]
						usyfg vougfvowyugepgw gyr 8yw perg p riup шурцшк рк шршгккр iwhh urh wiu hh h iwh; piuhrhr er</sub>
					</div>
				</div>
			</div>
			{{!-- ------------------------------------------- --}}
			<div class="card m-1">
				<div class="card-body">
					<div class="paddingb10">
						padding-bottom: 50px;
					</div>
				</div>
			</div>
			{{!-- ------------------------------------------- --}}
			<div class="card m-1">
				<div class="card-body">
					<div class="paddingvh10">
						padding: 15px 150px;
					</div>
				</div>
			</div>
			{{!-- ------------------------------------------- --}}
			<div class="card m-1">
				<div class="card-body">
					<div class="paddingthb10">
						padding: 15px 150px 20px;
					</div>
				</div>
			</div>
			{{!-- ------------------------------------------- --}}
			<div class="card m-1">
				<div class="card-body">
					<div class="paddingtlbr10">
						marpaddinggin: 50px 400px 20px 100px;
					</div>
				</div>
			</div>
			{{!-- ------------------------------------------- --}}
			<div class="card m-1">
				<div class="card-body">
					<div class="paddingha10">
						width: 350px; <br>
						padding: 50px 400px 20px 100px;
					</div>
				</div>
			</div>
			{{!-- ------------------------------------------- --}}
			<div class="card m-1">
				<div class="card-body">
					<div class="padding2p">
						padding: 2%;
					</div>
				</div>
			</div>
			{{!-- ------------------------------------------- --}}
			<div class="card m-1">
				<div class="card-body">
					<div class="paddinga">
						padding: auto;
					</div>
				</div>
			</div>
			{{!-- ------------------------------------------- --}}
		</div>
		{{!-- =========================================================== padding --}}
		<div class="card p-5 mb-2 padding">
			{{!-- ------------------------------------------- --}}
			<div class="card m-1">
				<div class="card-body">
					<div class="height">
						height: 60px;
					</div>
				</div>
			</div>
			{{!-- ------------------------------------------- --}}
			<div class="card m-1">
				<div class="card-body">
					<div class="height160">
						height: 160px;
					</div>
				</div>
			</div>
			{{!-- ------------------------------------------- --}}
			<div class="card m-1">
				<div class="card-body">
					<div class="heighta">
						height: auto;
					</div>
				</div>
			</div>
			{{!-- ------------------------------------------- --}}
			<div class="card m-1">
				<div class="card-body">
					<div class="heightmx1 mb-1">
						max-height: 70px;
					</div>
					<div class="heightmx2 mb-1">
						max-height: 100px;  <br>
						iygogog y gbr	<br>
						г гп щее щнцн ик
					</div>
				</div>
			</div>
			{{!-- ------------------------------------------- --}}
			<div class="card m-1">
				<div class="card-body">
					<div class="heightm1 mb-1">
						min-height: 60px;
					</div>
					<div class="heightm2 mb-1">
						min-height: 10px;  <br>
						iygogog y gbr	<br>
						г гп щее щнцн ик	<br>
						ivhphpuh	<br>
					</div>
				</div>
			</div>
			{{!-- ------------------------------------------- --}}
		</div>
	</div>
</main>