.paragraph-12 {
  font-size: 12px;
  color: rgb(6, 178, 37);
}

.paragraph-24 {
  font-size: 24px;
  color: rgb(6, 178, 37);
}

.paragraph-36 {
  font-size: 36px;
  color: rgb(6, 178, 37);
}

.paragraph-48 {
  font-size: 48px;
  color: rgb(6, 178, 37);
}

.oparagraph-6 {
  font-size: 6px;
}

.oparagraph-12 {
  font-size: 12px;
}

.oparagraph-18 {
  font-size: 18px;
}

.oparagraph-24 {
  font-size: 24px;
}

.oparagraph-30 {
  font-size: 30px;
}

.oparagraph-36 {
  font-size: 36px;
}