/* :root {
	--margin-bottom: 80px;
} */

/* !###############################################   header */
.page {
	padding: 0 15px;
	background: #ffffff;
}
.page_content {
	max-width: 960px;
	margin: 0 auto;
	/* background: #786e6e; */
}
/* .page_block:not(:last-of-type){
	margin-bottom: 80px;
} */
.header {
	padding: var(--space-medium,24px) ;
	border-bottom: 1px solid #dee2e6;
	display: flex;
	justify-content: space-between;
}
/* ------------------------------- */
.logo {
	font-size: 17px;
}
/* ------------------------------- */
/* .divider{
	margin: 0;
	height: 1px;
	background: #dee2e6;
} */
.nav {
	display: block;
}
.nav_link {
	color: #343A40;
	font-size: var(--font-size, 16px) ;
	text-decoration: none;
}
/* ------------------------------- */
.nav_link:hover {
	text-decoration: underline;
	color:blue;
	/* font-size: var(--font-size, 16px) ; */
}
/* ------------------------------- */
.nav_vertical > .nav_link {
	display: block;
}
.nav_inline > .nav_link:not(:last-child) {
	margin-right: 24px;
}
.nav_vertical > .nav_link:not(:last-child) {
	margin-bottom: 12px;
}
/* ------------------------------- */
.header_nav_right{
	margin-left: auto;
	width: fit-content;
}

.page_block:not(:last-child) {
margin-bottom: 80px;
}
/* ======================================= урок 2.6.20. */
.flex-container {
	/* background-color:#49769e; */
	display: flex;
	/* height: 900px; */
	flex-direction: row;
	/* flex-direction: row-reverse; */
	/* flex-direction: column; */
	/* flex-direction: column-reverse; */
	/* width: 50%; */
	flex-wrap: wrap;
	/* flex-wrap: nowrap; */
	/* flex-wrap: wrap-reverse; */
	/* flex-flow: column wrap; */
	/* justify-content: flex-start; */
	/* justify-content: flex-end; */
	justify-content: center;
	/* justify-content: space-between; */
	/* justify-content: space-around; */
	/* justify-content: space-evenly; */
	/* justify-content: stretch; */
	/* align-content: flex-start; */
	/* align-content: flex-end; */
	/* align-content: center; */
	/* align-content: stretch; */
	align-content: space-between;
	/* align-content: space-around; */
	/* align-content: space-evenly; */
	/* align-content: baseline; */
	/* place-content :flex-end center; */
	/* place-content: center space-between ; */
	/* align-items: flex-start; */
	/* align-items: flex-end; */
	/* align-items: center; */
	align-items: stretch;
	/* align-items: baseline; */
}
.flex-item {
	/* background-color:#999da0; */
	/* width: 50%; */
	/* flex-basis: 50%; */
	/* flex-basis: 300px; */
	width: 33%;
	/* width: 250px; */
	/* width: 200px; */
	/* width: 300px; */
	/* width: 300px; */
	/* width: 120px; */
	/* width: 80px; */
	/* margin:15px; */
	/* margin-right:24px; */
	/* margin-bottom:24px; */
	/* width: calc(50% - 24px); */
	/* flex-grow: 100px;????????????? */
	/* flex-grow: 1; */
	gap: 15px;
	row-gap: 15px;
	column-gap: 15px;
}
.flex-item:first-of-type {
	/* margin-right: 24px; */
	/* margin-bottom: 24px; */
	/* width: calc(50% - 4px); */
	/* flex-basis: calc(50% - 4px); */
	/* align-self: flex-start; */
	align-self: flex-end;
	background-color:#999da0;
	/* height: 100px; */
	/* width: 50%; */
	/* width: 33%; */
	/* width: 250px; */
	/* width: 200px; */
	/* width: 350px; */
	/* width: 120px; */
		/* flex-shrink: 0; */
		/* в 5 разів швидше зменьшується за всі інші */
		/* flex-shrink: 5; */
order: 2;
}
.flex-item:last-of-type {
	/* margin-right: 24px; */
	/* margin-bottom: 24px; */
	/* width: calc(50% - 8px); */
	/* flex-basis: calc(50% - 8px); */
	/* align-self: flex-end; */
	/* background-color:#999da0; */
	/* height: 300px; */
	/* width: 50%; */
	/* width: 33%; */
	/* width: 250px; */
	/* width: 200px; */
	/* width: 350px; */
	/* width: 120px; */
	/* flex-grow: 3; */
	/* margin:15px; */
	}
	.flex-item:nth-child(2) {
		/* margin-right: 24px; */
		/* margin-bottom: 24px; */
		/* width: calc(50% - 15px); */
		/* flex-basis: calc(50% - 15px); */
		/* align-self: center; */
	background-color:#154162;
	/* width: 50%; */
	/* width: 33%; */
	/* width: 250px; */
	/* width: 250px; */
	/* width: 350px; */
	/* width: 120px; */
	/* flex-grow: 3; */
	/* margin:15px; */
	order: 1;
}
























/* !###############################################   main */
.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #343A40;
	border-radius: 24px;
	padding: 80px;
	text-align: center;
	/* margin-bottom: var(--margin-bottom, 80px); */
}

.hero_title {
	color: #ffffff;
	font-size: 56px;
	font-weight: 500;
	margin-bottom: 12px;
}

.hero_text {
	color: #ffffff;
	font-size: 20px;
	max-width: 585px;
	line-height: 150%;
}

.category_list{
text-align: right;
}
.button {
	/* border: 1px solid red ; */
	text-decoration: none;
	color: #fff;
	display: inline-block;
	/* дизайнер мабуть помилився та написав 19 а повинно бути (дылитися на 2 або на 4) */
	/* font-size: 19px; */
	font-size: 16px;
	padding: 10px auto;
	max-width: 248px;
	width: 100%;
	background-color:#007bff;
	border-radius: 4px;
	text-align: center;
}
.button:hover {
	background-color:#3195ff;
}
/* ------------------------------------------------ */
.preview {
	border-radius: 24px;
	border: 1px solid #DEE2E6;
	box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
	padding: 24px;
	
}

.preview_header > span:not(:last-of-type) {
	margin-right: 12px;
}
.preview_date {
	color: #6c757d;
	font-size: 16px;
}
.preview_category {
	/* color: #6c757d; */
	font-size: 16px;
}
.preview > *:not(:last-child) {
	margin-bottom: 12px;
}
.preview_title {
	display: block;
	color: #343A40;
	/* font-family: Roboto; */
	font-size: 28px;
	/* font-style: normal; */
	/* font-weight: 500; */
	/*line-height: 33.6px;*/ /* 120% */
}
.preview_description {
	color: #212529;
	/* font-family: Roboto; */
	font-size: 16px;
	/* font-style: normal; */
	/* font-weight: 400; */
	/*line-height: 24px; *//* 160% */
}
.preview_category_1{
	color: #007bff;
}
.preview_category_2{
	color: #198754;
}
.preview_category_3{
	color: #F00;
}
.preview_category_4{
	color: #FF7A00;
}
/* ------------------------------------------------ */
.list_title {
	font-weight: 500;
	font-size: 32px;
	color: #212529;
	margin: 0;
}

.list_header {
	padding-bottom: 12px;
	border-bottom: 1px solid #dee2e6;
	margin-bottom: 40px;
	display: flex;
	justify-content: space-between;
}
.category_button {
	font-size: 16px;
	color: #6c757d;
	padding: 10px 16px;
	border-radius: 40px;
	border: 1px solid #6c757d;
	line-height: 100%;
}
.category_button:hover {
	background: #6c757d20;
}
.list_aside {
	margin-left: 40px;
}
.list > *:not(:last-child) {
	margin-bottom: 40px;
}
/* ----------------------------------aside*/
.list_aside > *:not(:last-child) {
	margin-bottom: 24px;
}
.about {
	background-color: #f8f9fa;
	padding: 24px;
}
.about_title {
	color: #212529;
	font-weight: 500;
	font-size: 20px;
}
.about_text {
	color: #212529;
	font-weight: 400;
	font-size: 14px;
	line-height: 170%;
}
.link_list {
	padding: 24px;
}
.link_list > *:not(:last-child) {
	margin-bottom: 12px;
}
.link_title {
	display: block;
	font-weight: 500;
	font-size: 24px;
	color: #212529;
}
.link_item {
	display: block;
	font-size: 16px;
	font-weight: 400;
	text-decoration: none;
	color: #007bff;
}
.link_item:hover {
	text-decoration: underline;
}









/* !###############################################   Fooeter */
.footer{
	padding: 24px 0;
	border-top: 1px solid #dee2e6;
	display: flex;
	justify-content: space-between;
}
.footer_copyright{
	font-size: 14px;
	color: #6c757d;
	display: block;
	margin-top: 12px;
}
.footer_title{
	font-size: 20px;
	color: var(--text-color,#212529);
	display: block;
	margin-bottom: 12px;}

	.post {
		border-bottom: 1px solid #dee2e6;
		padding-bottom: 12px;
	}
	.post > *:not(:last-child) {
		margin-bottom: 12px;
	}
	.post_title {
		display: block;
		font-weight: 500;
		font-size: 26px;
		color: #212529;
	}
	.post_info {
		color: #999999;
		font-weight: 400;
		font-size: 16px;
	}
	.post_author {
		color: #0050ff;
	}
	.post_description {
		font-weight: 400;
		font-size: 16px;
		color: #212529;
	}















