:root {
	--space-m: 12px;
	--space-xm: 16px;
	--space-l: 24px;
	--space-b: 36px;
	/* ========== */
	--size-s: 14px;
	--size-d: 16px;
	--size-18: 18px;
	--size-l: 20px;
	/* ========== */
	--color-border: #dee2e6;
	--color-primary: rgb(46, 46, 255);
	/* --color-grey-blue: #2A3141; */
	--color-grey-blue: rgba(42, 49, 65, 0.44);
	--color-violet: #885FFB;
	--color-violet-02: rgba(136, 95, 251, 0.2);
	--color-white: #ffffff;
	--color-title: #122529;
	--color-text: #343a40;
	/* --color-text-2: #9CA3AF; */
	--color-text-2: #9ca3afb4;
	--color-new-red: rgba(251, 95, 95, 0.5);
	/* ========== */
	--border-radius-s: 4px;
	--border-radius-10: 10px;
	--border-radius-b: 12px;
	/* ========== */
	--weight-title: 500;
	--weight-title-2: 900;
	--weight-text: 400;
	/* ========== */
	--page-width: 960px;
	scroll-behavior: smooth;
	}	